<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="data/icon.png">
	<title>{% block title %}网络可视化展示平台{% endblock %}</title>
	<link href="{{ url_for('static', filename='theme/style.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ url_for('static', filename='theme/table.css') }}" type="text/css" rel="stylesheet">
	<!-- jquery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<!-- Echarts -->
	<script src="/static/js/echarts.min.js"></script>
	<script src="/static/js/macarons.js"></script>
</head>
<html>
<body>
	<div id="sidebar">
		<h1 style="font-size: 30px; letter-spacing: 0.1ex;" id="callblock0">网络可视化展示平台</h1>
		<div class="buttons">
			<ul>
				<li><a id="callblock1" href="#" onclick="redirect_page(1)" > 总流量 </a></li>
				<li><a id="callblock2" href="#" onclick="redirect_page(2)" > 流分布 </a></li>
				<li><a id="callblock3" href="#" onclick="redirect_page(3)" > 大象流 </a></li>
				<li><a id="callblock4" href="#" onclick="redirect_page(4)" > 流列表 </a></li>
				<li><a id="reflesh" href="#" onclick="redirect_reflesh()"> 清空缓存 </a></li>
			</ul>
		</div>
		<div id="container2" style="position:absolute;left:10%;width:80%;bottom:100px;height:90px"></div>
	</div>
	<div id="main">
		{% block main %}
		{% endblock %}
	</div>
	{% block body %}
	{% endblock %}
</body>
<script>

var dataid = {{ dataid if dataid else 1 | safe }};
var pageid = {{ pageid if pageid else 1 | safe }};

var chart2;

function redirect_page(pageid)
{
	if (dataid)
		window.location.href = '/show/' + pageid + '?id=' + dataid;
	else
		window.location.href = '/show/' + pageid;
}

function redirect_reflesh(){
	window.location.href = '/reflesh?url=' + window.location.pathname;
}

var dom = document.getElementById("container2");
var sidebarChart = echarts.init(dom, 'macarons');

var chart2 = {{ chart2 | safe }};
var sidebaroption;

var sidebarformatter = function (params)
{
	var str = '<div style="text-align:left">'
	str += params.marker + ' Data ' + params.name + '<br>';
	str += '　 <strong>' + params.data.time + '</strong><br>';
	str += '　 <strong>Cardinality: ' + params.data.value[1] + '</strong><br>';
	str += '</div>'
	return str;
}

sidebaroption = {
	tooltip: {
		trigger: 'item'
	},
	grid: [
		{left: '5%', right: '5%', top: '5%', bottom: '20%', containLabel: true}
	],
	xAxis: [
		{
			type: 'category',
			gridIndex: 0,
			axisLabel: {
				show: false
			},
			axisTick: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#759aa0',
					width: 2
				}
			}
		}
	],
	yAxis: [
		{
			type: 'value',
			gridIndex: 0,
			show: false,
			max: 'dataMax',
			axisLabel:
			{
				show: false
			}
		}
	],
	dataZoom: [
		{
			type: 'inside',
			xAxisIndex: 0,
			fiterMode: 'filter',
			// startValue: 0,
			// endValue: 2,
		}
	],
	series: [
		{
			id: 'bar1',
			name: 'Attribution',
			type: 'bar',
			tooltip: {},
			xAxisIndex: 0,
			yAxisIndex: 0,
			itemStyle: {
				barBorderRadius: [5, 5, 0, 0],
				shadowBlur: 5
			},
		},
		{
			id: 'pie1',
			type: 'pie',
			center: ['50%', '95%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(255,255,255, 0.8)',
			label: {
				position: 'center',
				fontSize: 12,
				fontWeight: 'bold',
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 2
			},
		}
	]
};

var getServerData = function(pageid, dataid)
{
	var url = "/getdata?pageid=" + pageid + "&dataid=" + dataid;
    var request = new XMLHttpRequest();
    request.open("GET", url);
    request.send(null);
    request.onload = function() {
        if(request.status == 200) {
            var chart1 = JSON.parse(request.responseText);
            draw(chart1);
        }
    }
}

var setRedBar = function(dataid)
{
	console.log("setRedBar", dataid, chart2.sidebardata)
	for (let i = 0; i < chart2.sidebardata.length; ++i)
	{
		console.log(chart2.sidebardata[i])
		if (chart2.sidebardata[i].itemStyle.color === "#dd6b66")
		{
			chart2.sidebardata[i].itemStyle.color = "#759aa0";
			chart2.sidebardata[i].itemStyle.borderWidth = 0;
		}
		if (chart2.sidebardata[i].name === dataid)
		{
			chart2.sidebardata[i].itemStyle = {
				color: "#dd6b66",
				borderColor: "#eeb5b2",
				borderWidth: 2
			};
			chart2.text = [ { 'name': chart2.sidebardata[i].time + ' (Data' + dataid + ')', 'value': 1 } ];
			chart2.minvalue = Math.max(i - 4, 0);
		}
	}
}

var setSidebarData = function(option, chart2)
{
	var newoption = JSON.parse(JSON.stringify(option));
	newoption.dataZoom[0].startValue = chart2.minvalue;
	newoption.dataZoom[0].endValue = chart2.minvalue + 8;
	newoption.series[0].tooltip.formatter = sidebarformatter;
	newoption.series[0].data = chart2.sidebardata;
	newoption.series[1].data = chart2.text;
	newoption.series[1].data = chart2.text;
	return newoption;
}

sidebarChart.on('click', 'series', function(obj) {
	dataid = obj.data.value[0];
	setRedBar(dataid);
	var visoption = setSidebarData(sidebaroption, chart2);
	sidebarChart.setOption(visoption);
	getServerData(pageid, dataid);
})

var drawsidebar = function(data)
{
	getServerData(pageid, dataid);
	chart2 = data;
	sidebarChart.clear();
	setRedBar(dataid);
	var visoption = setSidebarData(sidebaroption, chart2);
	sidebarChart.setOption(visoption);
}

window.onresize = function ()
{
    sidebarChart.resize();
    if (mainChart)
	    mainChart.resize();
};

drawsidebar({{ chart2 | safe }})

</script>
</html>
