{% extends "base.html" %}

{% block title %}网络可视化展示平台{% endblock %}

{% block main %}

<div class="block" id="block1">
	<h2>流列表</h2>
	<div id="tablebox">
	</div>
	<div style="color:#999;position:absolute;bottom:5%;right:10%">Designed by Zining Dong. Data Source: Qifan Ren.</div>
</div>

<script>
var option = {
		bLengthChange: false,
		paging: true,
		iDisplayLength: 100,
		scrollY: 650,
		searching: false,
		autoWidth: true,
		oLanguage: {
			sInfo: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
			sLengthMenu: "每页显示 _MENU_ 项结果",
			oPaginate: {
				sFirst: "<<",
				sPrevious: "<",
				sNext: ">",
				sLast: ">>"
			}
		}
	};

var Table;

var draw = function(data)
{
	document.getElementById('tablebox').style.opacity = 0;
	if (Table)
	{
		Table.destroy();
        Table.clear();
        Table = null;
		document.getElementById("container1").remove();
	}
	var div = document.getElementById("tablebox");
	div.innerHTML = "<table id='container1' class='display table table-bordered'> " + data + " </table>";
	Table = $('#container1').DataTable(option);
	document.getElementById('tablebox').style.opacity = 1;
}
</script>
{% endblock %}
