{% extends "base.html" %}

{% block title %}网络可视化展示平台{% endblock %}

{% block main %}
<div class="block" id="block1">
	<h2>大象流</h2>
	<div id="container1" style="position:absolute;left:5%;width:90%;top:10%;height:90%"></div>
	<div style="color:#999;position:absolute;bottom:5%;right:10%">Designed by Zining Dong. Data Source: Qifan Ren.</div>
</div>

<script>
var dom = document.getElementById("container1");
var mainChart = echarts.init(dom, 'macarons');

var chart1;

var option;

var formatter1 = function (params)
{
	var str = params.marker + ' ' + params.name + '<br>';
	str += '　 <strong>ID: ' + params.data.ID + '　 Length: ' + params.value[1] + '</strong>';
	return str;
}

option = {
	toolbox: {
		feature: {
			dataView: {},
			restore: {},
			saveAsImage: {}
		}
	},
	tooltip: {
		trigger: 'item'
	},
	grid: [
		{left: '3%', right: '3%', top: '7%', bottom: '60%', containLabel: true},
		{left: '3%', right: '3%', top: '52%', bottom: '15%', containLabel: true}
	],
	dataZoom: [
		{
			type: 'inside',
			xAxisIndex: 0,
			fiterMode: 'filter',
			bottom: '15%',
			startValue: 0,
			endValue: 49
		},
		{
			type: 'inside',
			xAxisIndex: 1,
			fiterMode: 'filter',
			bottom: '15%',
			startValue: 0,
			endValue: 49
		}
	],
	xAxis: [
		{
			type: 'category',
			gridIndex: 0
		},
		{
			type: 'category',
			gridIndex: 1
		},
	],
	yAxis: [
		{
			type: 'value',
			gridIndex: 0,
			scale: true
		},
		{
			type: 'value',
			gridIndex: 1,
			scale: true
		}
	],
	series: [
		{
			name: 'Elephant',
			type: 'bar',
			xAxisIndex: 0,
			yAxisIndex: 0,
			tooltip: {},
			itemStyle: {
				barBorderRadius: [5, 5, 0, 0],
				shadowBlur: 5
			},
		},
		{
			name: 'Increasing',
			type: 'bar',
			xAxisIndex: 1,
			yAxisIndex: 1,
			tooltip: {},
			itemStyle: {
				barBorderRadius: [5, 5, 0, 0],
				shadowBlur: 5
			},
		},
		{
			id: 'pie1',
			type: 'pie',
			center: ['50%', '43%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(0, 0, 0, 0)',
			label: {
				position: 'center',
				fontSize: 20,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
			},
			data: [ { 'name': 'Elephant Flows', 'value': 1 } ]
		},
		{
			id: 'pie2',
			type: 'pie',
			center: ['50%', '88%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(0, 0, 0, 0)',
			label: {
				position: 'center',
				fontSize: 20,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
			},
			data: [ { 'name': 'Increasing Elephant Flows', 'value': 1 } ]
		}
	]
};

var setOptionData = function(option, chart1)
{
	var newoption = JSON.parse(JSON.stringify(option));
	newoption.series[0].tooltip.formatter = formatter1;
	newoption.series[1].tooltip.formatter = formatter1;
	newoption.series[0].data = chart1.elephantdata;
	newoption.series[1].data = chart1.swaptdata;
	return newoption;
}

var draw = function(data)
{
	chart1 = data;
	mainChart.clear();
	var visoption = setOptionData(option, chart1);
	mainChart.setOption(visoption);
}

</script>
{% endblock %}
