{% extends 'base.html' %}

{% block title %}网络可视化展示平台{% endblock %}

{% block main %}
<div class="titleblock" style="position:absolute;left:8%;right:8%;top:5%;bottom:85%;">
	<h2>流分布</h2>
</div>

<div style="position:absolute;left:8%;right:30%;top:18%;bottom:8%">
	<div id="container1" style="position:absolute;left:0%;width:100%;top:0%;height:100%"></div>
	<div class="block" id="block1" style="position:absolute;left:0%;right:87%;top:0%;bottom:60%">
	</div>

	<div class="block" id="block2" style="position:absolute;left:15%;right:0%;top:0%;bottom:60%">
	</div>

	<div class="block" id="block3" style="position:absolute;left:0%;right:0%;top:43%;bottom:0%">
	</div>
</div>

<div class="block" id="block4" style="position:absolute;left:72%;right:8%;top:18%;bottom:74%;border:3px solid rgba(0,0,0,0.15)">
	<div style="font-size:26px;font-weight:bold;text-align:center;padding:15px 0;color:#000;text-shadow:4px 4px 4px rgba(0,0,0,0.4)">Flow / Traffic</div>
	<div id="container4" style="position:absolute;left:0%;width:100%;top:0%;height:100%"></div>
</div>

<div class="block" id="block5" style="position:absolute;left:72%;right:8%;top:28%;bottom:41%">
	<div id="container5" style="position:absolute;left:5%;width:90%;top:5%;height:90%"></div>
</div>

<div class="block" id="block6" style="position:absolute;left:72%;right:8%;top:61%;bottom:8%">
	<div id="container6" style="position:absolute;left:5%;width:90%;top:5%;height:90%"></div>
</div>

<div style="color:#999;position:absolute;bottom:3%;right:8%">2021 Designed by Zining Dong.</div>

<script>

var yAxis1 = [
	{
		type: 'log',
		min: 0.6,
		axisLine: {
			onZero: false,
			lineStyle: {
				color: '#000'
			}
		},
		axisLabel: {
			showMinLabel: false
		},
		gridIndex: 0,
	},
	{
		type: 'log',
		min: 0.6,
		axisLine: {
			onZero: false,
			lineStyle: {
				color: '#000'
			}
		},
		axisLabel: {
			showMinLabel: false
		},
		gridIndex: 1,
	},
];

var yAxis2 = [
	{
		type: 'value',
		axisLine: {
			onZero: false,
			lineStyle: {
				color: '#000'
			}
		},
		axisLabel: {
			showMinLabel: false
		},
		gridIndex: 0,
	},
	{
		type: 'value',
		axisLine: {
			onZero: false,
			lineStyle: {
				color: '#000'
			}
		},
		axisLabel: {
			showMinLabel: false
		},
		gridIndex: 1,
	},
];

var formatter1 = function (params)
{
	var str = '';
	try
	{
		str += '<strong>Size: ' + params[0].name + '</strong><br>';
		for (let i in params)
		{
			str += params[i].marker + ' ' + params[i].seriesName + '　 <strong>' + Math.floor(params[i].value) + '</strong><br>';
		}
	}
	catch (err)
	{
		console.log(err);
	}
	return str;
};

var formatter2 = function (params)
{
	var str = '';
	try
	{
		str += params.marker + ' <strong>Size' + params.name + '</strong><br>'
		str += '　 <strong>' + params.value + ' (' + Math.round(params.percent) + '%)</strong><br>';
	}
	catch (err)
	{
		console.log(err);
	}
	return str;
};

var optionLines = {
	toolbox: {
		show: true,
		feature: {
			saveAsImage: {}
		}
	},
	tooltip: {
		trigger: 'axis',
		alwaysShowContent: true
	},
	legend: [
		{
			left: '1.8%',
			top: '4%',
			orient: 'vertical',
			itemGap: 18,
			data: ['Client 1', 'Client 2', 'Client 3', 'Client 4', 'Client 5',
				'Client 6', 'Client 7', 'Client 8']
		}
	],
	grid: [
		{
			left: '3%',
			right: '6%',
			top: '48%',
			bottom: '2%',
			containLabel: true
		},
		{
			left: '18%',
			right: '6%',
			top: '5%',
			bottom: '62%',
			containLabel: true
		},
	],
	dataZoom: [
		{
			type: 'inside',
			xAxisIndex: 0,
			fiterMode: 'filter',
			bottom: '15%',
			startValue: 3,
			end: 90
		},
		{
			type: 'inside',
			xAxisIndex: 1,
			fiterMode: 'filter',
			bottom: '15%',
			startValue: 1,
			endValue: 50
		}
	],
	xAxis: [
		{
			type: 'category',
			axisLine: {
				show: false,
			},
			gridIndex: 0,
			min: 1
		},
		{
			type: 'category',
			axisLine: {
				show: false,
			},
			gridIndex: 1,
			min: 1
		},
	],
	series: [
		{
			id: 'line1',
			name: 'Client 1',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line2',
			name: 'Client 2',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line3',
			name: 'Client 3',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line4',
			name: 'Client 4',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line5',
			name: 'Client 5',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line6',
			name: 'Client 6',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line7',
			name: 'Client 7',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'line8',
			name: 'Client 8',
			type: 'line',
			xAxisIndex: 0,
			yAxisIndex: 0,
			stack: 'All',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline1',
			name: 'Client 1',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline2',
			name: 'Client 2',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline3',
			name: 'Client 3',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline4',
			name: 'Client 4',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline5',
			name: 'Client 5',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline6',
			name: 'Client 6',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline7',
			name: 'Client 7',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		},
		{
			id: 'mouseline8',
			name: 'Client 8',
			type: 'line',
			xAxisIndex: 1,
			yAxisIndex: 1,
			stack: 'Ant',
			smooth: true,
			lineStyle: {
				width: 2
			},
			showSymbol: false,
			areaStyle: {
				opacity: 0.7,
			},
			emphasis: {
				focus: 'series'
			},
		}
	],
	graphic: [
		{
			type: 'text',
			top: '7%',
			right: '7%',
			z: 100,
			style:{
				text: 'Distribution (Mouse Flows)',
				fill: 'rgba(0, 0, 0, 0.9)',
				fontSize: 16,
				fontWeight: 'bold',
			}
		},
		{
			type: 'text',
			top: '50%',
			right: '7%',
			z: 100,
			style:{
				text: 'Distribution (Overall)',
				fill: 'rgba(0, 0, 0, 0.9)',
				fontSize: 18,
				fontWeight: 'bold',
			}
		}
	]
};

var optionButton = {
};

var optionPie = {
	tooltip: {
		trigger: 'item'
	},
	series: [
		{
			id: 'pie1',
			type: 'pie',
			center: ['50%', '50%'],
			radius: ['55%', '90%'],
			avoidLabelOverlap: false,
			label: {
				position: 'inside',
				fontWeight: 'bold',
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				rotate: 'radial'
			},
			labelLine: {
				show: false
			},
			emphasis: {
				focus: 'series'
			},
			minAngle: 5,
		},
		{
			id: 'pie2',
			type: 'pie',
			center: ['50%', '47%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(0, 0, 0, 0)',
			label: {
				position: 'center',
				fontSize: 26,
				fontWeight: 'bold',
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4
			},
		},
		{
			id: 'pie3',
			type: 'pie',
			center: ['50%', '59%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(0, 0, 0, 0)',
			label: {
				position: 'center',
				fontSize: 20,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4
			},
		}
	]
};

var optionGauge = {
	series: [
		{
			id: 'gauge1',
			type: 'gauge',
			center: ['50%', '54%'],
			radius: '85%',
			startAngle: 215,
			endAngle: -35,
			title: {
				fontSize: 22,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				offsetCenter : [0, '65%']
			},
			detail: {
				formatter: '{value}',
				fontSize: 26,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
			},
			pointer: {
				show : true,
				itemStyle: {
					color : '#2EC7C9'
				}
			},
			axisLine: {
				show : true,
				lineStyle: {
					color : 
					[
						[ 1, new echarts.graphic.LinearGradient(
							1, 0, 0, 0,
							[{ offset: 0, color: '#2EC7C9' },
							{offset: 0.8, color: '#E6EBF8' }] )]
					],
				}
			},
		}
	]
};

var chartLines = echarts.init(document.getElementById("container1"), 'macarons');
var chartButton = echarts.init(document.getElementById("container4"), 'macarons');
var chartPie = echarts.init(document.getElementById("container5"), 'macarons');
var chartGauge = echarts.init(document.getElementById("container6"), 'macarons');

var dataset;
var nowdata = 1;

var setOptionData = function()
{
	var optionTemp;
	optionTemp = JSON.parse(JSON.stringify(optionLines));
	optionTemp.tooltip.formatter = formatter1;
	optionTemp.yAxis = nowdata === 1 ? yAxis1 : yAxis2;
	optionTemp.xAxis[0].data = dataset['xaxisdata'];
	optionTemp.xAxis[1].data = dataset['mouse_xaxisdata'];
	optionTemp.series[0].data = dataset['flow_all'][1];
	optionTemp.series[1].data = dataset['flow_all'][2];
	optionTemp.series[2].data = dataset['flow_all'][3];
	optionTemp.series[3].data = dataset['flow_all'][4];
	optionTemp.series[4].data = dataset['flow_all'][5];
	optionTemp.series[5].data = dataset['flow_all'][6];
	optionTemp.series[6].data = dataset['flow_all'][7];
	optionTemp.series[7].data = dataset['flow_all'][8];
	optionTemp.series[8].data = dataset['flow_mouse'][1];
	optionTemp.series[9].data = dataset['flow_mouse'][2];
	optionTemp.series[10].data = dataset['flow_mouse'][3];
	optionTemp.series[11].data = dataset['flow_mouse'][4];
	optionTemp.series[12].data = dataset['flow_mouse'][5];
	optionTemp.series[13].data = dataset['flow_mouse'][6];
	optionTemp.series[14].data = dataset['flow_mouse'][7];
	optionTemp.series[15].data = dataset['flow_mouse'][8];
	chartLines.clear();
	chartLines.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionButton));
	chartButton.clear();
	chartButton.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionPie));
	optionTemp.tooltip.formatter = formatter2;
	optionTemp.series[0].data = dataset['flow_pie'][0];
	optionTemp.series[1].data = [ { 'name': nowdata == 1 ? 'Flows' : 'Traffic', 'value': 1 } ];
	optionTemp.series[2].data = [ { 'name': dataset['flow_detail'][0], 'value': 1 } ];

	chartPie.clear();
	chartPie.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionGauge));
	optionTemp.series[0].data = [ {
			value: dataset['entropy_detail'][0],
			name: 'Entropy'
		} ];
	chartGauge.clear();
	chartGauge.setOption(optionTemp);

};

chartButton.getZr().on('mousemove', function(obj) {
	chartButton.getZr().setCursorStyle('pointer');
});

chartButton.getZr().on('click', function(obj) {
	nowdata = nowdata === 1 ? 2 : 1;
	var tmp;
	tmp = dataset['flow_all'];
	dataset['flow_all'] = dataset['traffic_all'];
	dataset['traffic_all'] = tmp;
	tmp = dataset['flow_mouse'];
	dataset['flow_mouse'] = dataset['traffic_mouse'];
	dataset['traffic_mouse'] = tmp;
	tmp = dataset['flow_pie'];
	dataset['flow_pie'] = dataset['traffic_pie'];
	dataset['traffic_pie'] = tmp;
	tmp = dataset['flow_detail'];
	dataset['flow_detail'] = dataset['traffic_detail'];
	dataset['traffic_detail'] = tmp;
	setOptionData();
});

var triggerAction = function(action, selected) {
	legend = [];
	for (name in selected) {
		if (selected.hasOwnProperty(name)) {
			legend.push({name: name});
		}
	}
	chartLines.dispatchAction({
		type: action,
		batch: legend
	});
};

chartLines.on('legendselectchanged', function(obj) {
	var selected = obj.selected;
	var legend = obj.name;
	console.log(obj)

	var selectedCount = 0;
	if (selected != undefined)
	{
		for (name in selected)
			if (selected[name] == true)
				++selectedCount;
		if (selectedCount === 0)
		{
			chartPie.setOption({ series: { id: 'pie1', data: dataset['flow_pie'][0] }});
			chartPie.setOption({ series: { id: 'pie2', data: [ { 'name': nowdata === 1 ? '总流数' : '总流量', 'value': 1 } ] }});
			chartPie.setOption({ series: { id: 'pie3', data: [ { 'name': dataset['flow_detail'][0], 'value': 1 } ] }});
			
			chartGauge.setOption({ series: { id: 'gauge1', data: [
				{ value: dataset['entropy_detail'][0], name: 'Entropy' } ] } });
			triggerAction('legendToggleSelect', selected);
		}
		else
		{
			chartPie.setOption({ series: { id: 'pie1', data: dataset['flow_pie'][legend[7]] }});
			chartPie.setOption({ series: { id: 'pie2', data: [ { 'name': legend, 'value': 1 } ] }});
			chartPie.setOption({ series: { id: 'pie3', data: [ { 'name': dataset['flow_detail'][legend[7]], 'value': 1 } ] }});
			chartGauge.setOption({ series: { id: 'gauge1', data: [
				{ value: dataset['entropy_detail'][legend[7]], name: 'Entropy'} ] } });
			if (selectedCount === 7)
				triggerAction('legendToggleSelect', selected);
			else
				for (name in selected)
					if (name != legend && selected[name] == true)
						chartLines.dispatchAction({type: 'legendToggleSelect', batch: [{name: name}]});
		}
	}
});

var draw = function(data)
{
	dataset = data;
	console.log(dataset);
	nowdata = 1;
	setOptionData();
};

window.onresize = function ()
{
	sidebarChart.resize();
	if (chartLines)
		chartLines.resize();
	if (chartButton)
		chartButton.resize();
	if (chartPie)
		chartPie.resize();
	if (chartGauge)
		chartGauge.resize();
};

</script>
{% endblock %}
