{% extends "base.html" %}

{% block title %}网络可视化展示平台{% endblock %}

{% block main %}
<div class="titleblock" style="position:absolute;left:8%;right:8%;top:5%;bottom:85%;">
	<h2>流量信息</h2>
</div>

<div class="block" id="block1" style="position:absolute;left:8%;right:44%;top:18%;bottom:8%">
	<h3>整体流量</h3><hr>
	<div id="container1" style="position:absolute;left:5%;width:90%;top:10%;height:87%"></div>
</div>

<div class="block" id="block2" style="position:absolute;left:58%;right:8%;top:18%;bottom:35%">
	<h3>数据活跃度</h3><hr>
	<div id="container2" style="position:absolute;left:8%;width:84%;top:8%;height:90%"></div>
</div>

<div class="block" id="block3" style="position:absolute;left:58%;right:26%;top:67%;bottom:8%">
	<div id="container3" style="position:absolute;left:3%;width:94%;top:10%;height:80%"></div>
</div>

<div class="block" id="block4" style="position:absolute;left:76%;right:8%;top:67%;bottom:8%">
	<div id="container4" style="position:absolute;left:3%;width:94%;top:10%;height:80%"></div>
</div>

<div style="color:#999;position:absolute;bottom:3%;right:8%">2021 Designed by Zining Dong.</div>

<script>

var formatter1 = function (params)
{
	if (!params.name)
		return '返回上一级';
	var str = params.marker + ' ' + params.name + '<br>';
	str += '　 <strong>' + params.data.traffic + ' packets</strong><br>';
	str += '　 <strong>' + params.data.flow + ' flows</strong>';
	return str;
};

var formatter2 = function (params)
{
	var str = params.value[1] + '&gt&gt' + params.value[0] + '<br>';
	str += params.marker + ' <strong>' + params.value[2] + '%</strong>';
	return str;
};

var optionSunburst = {
	toolbox: {
		show: true,
		feature: {
			saveAsImage: {}
		}
	},
	tooltip: {
		trigger: 'item'
	},
	series: [
		{
			center: ['50%', '50%'],
			type: 'sunburst',
			sort: null,
			tooltip: {
				formatter: formatter1
			},
			emphasis: {
				focus: 'ancestor'
			},
			label: {
				rotate: 'radial'
			},
			levels: [{
				tooltip: {
					show: false
				},
				itemStyle: {
					color: '#ccc'
				},
			}, {
				r0: '30%',
				r: '58%',
				nodeClick: 'rootToNode',
				label: {
				},
			}, {
				r0: '58%',
				r: '68%',
				nodeClick: 'rootToNode',
				itemStyle: {
					borderMiterLimit: 10
				},
				label: {
					rotate: 'tangential'
				}
			}, {
				r0: '68%',
				r: '95%',
				nodeClick: false,
				itemStyle: {
					borderMiterLimit: 10
				},
				label: {
					align: 'right'
				}
			}],
			itemStyle: {
				borderWidth: 2
			},
		}, {
			id: 'title1',
			type: 'pie',
			center: ['50%', '50%'],
			radius: ['0%'],
			tooltip: { show: false },
			color: 'rgba(0, 0, 0, 0)',
			label: {
				position: 'center',
				fontSize: 30,
				fontWeight: 'bold',
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4
			},
			data: [ { 'name': 'Traffic', 'value': 1 } ]
		}
	]
};

var optionHeatmap = {
	toolbox: {
		show: true,
		feature: {
			saveAsImage: {}
		}
	},
	tooltip: {
		trigger: 'item'
	},
	grid: [
		{left: '0%', right: '10%', top: '10%', bottom: '0%', containLabel: true}
	],
	xAxis: [
		{
			type: 'category',
			gridIndex: 0,
			axisLabel: {
				interval: 0,
				rotate: 30,
				align: 'right'
			},
			axisLine: {
				show: false
			},
			axisTick: {
				show: false
			}
		}
	],
	yAxis: [
		{
			type: 'category',
			gridIndex: 0,
			axisLine: {
				show: false
			},
			axisTick: {
				show: false
			}
		},
	],
	series: [
		{
			type: 'heatmap',
			label: {
				show: true
			},
			tooltip: {
				formatter: formatter2
			},
			itemStyle: {
				borderWidth: 2,
				borderJoin: 'bevel'
			},
		}
	]
};

var optionGauge1 = {
	tooltip: {
		trigger: 'item'
	},
	series: [
		{
			name: 'Traffic',
			type: 'gauge',
			center: ['50%', '54%'],
			radius: '100%',
			startAngle: 215,
			endAngle: -35,
			tooltip: {
				show: false
			},
			title: {
				fontSize: 20,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				offsetCenter : [0, '75%']
			},
			detail: {
				formatter: '{value}',
				fontSize: 24,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				offsetCenter : [0, '50%']
			},
			pointer: {
				show : true,
				itemStyle: {
					color : '#2EC7C9'
				}
			},
			axisLine: {
				show : true,
				lineStyle: {
					color: [
						[ 1, new echarts.graphic.LinearGradient(
							1, 0, 0, 0,
							[{ offset: 0, color: '#2EC7C9' },
							{offset: 0.8, color: '#E6EBF8' }] )]
					],
				}
			},
		}
	]
};

var optionGauge2 = {
	tooltip: {
		trigger: 'item'
	},
	series: [
		{
			name: 'Flows',
			type: 'gauge',
			center: ['50%', '54%'],
			radius: '100%',
			startAngle: 215,
			endAngle: -35,
			tooltip: {
				show: false
			},
			title: {
				fontSize: 20,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				offsetCenter : [0, '75%']
			},
			detail: {
				formatter: '{value}',
				fontSize: 24,
				textBorderColor: 'rgba(255,255,255,0.6)',
				textBorderWidth: 4,
				offsetCenter : [0, '50%']
			},
			pointer: {
				show : true,
				itemStyle: {
					color : '#b6a2de'
				}
			},
			axisLine: {
				show : true,
				lineStyle: {
					color: [
						[ 1, new echarts.graphic.LinearGradient(
							1, 0, 0, 0,
							[{ offset: 0, color: '#b6a2de' },
							{offset: 0.8, color: '#E6EBF8' }] )]
					],
				}
			},
		}
	]
};

var chartSunburst = echarts.init(document.getElementById("container1"), 'macarons');
var chartHeatmap = echarts.init(document.getElementById("container2"), 'macarons');
var chartGauge1 = echarts.init(document.getElementById("container3"), 'macarons');
var chartGauge2 = echarts.init(document.getElementById("container4"), 'macarons');

var dataset;

var setOptionData = function()
{
	var optionTemp;
	optionTemp = JSON.parse(JSON.stringify(optionSunburst));
	optionTemp.series[0].tooltip.formatter = formatter1;
	optionTemp.series[0].data = dataset.ch_sunburst;
	chartSunburst.clear();
	chartSunburst.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionHeatmap));
	optionTemp.series[0].tooltip.formatter = formatter2;
	optionTemp.series[0].data = dataset.ch_heatmap;
	chartHeatmap.clear();
	chartHeatmap.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionGauge1));
	console.log(dataset)
	optionTemp.series[0].data = [ {
			value: dataset.ch_gauge1[0],
			name: 'Total Traffic',
		}, {
			value: dataset.ch_gauge1[0],
			name: 'x' + dataset.ch_gauge1[1],
			pointer: { show : false },
			title: {
				fontSize: 12,
				offsetCenter : ['28%', '25%']
			}
		} ];
	chartGauge1.clear();
	chartGauge1.setOption(optionTemp);

	optionTemp = JSON.parse(JSON.stringify(optionGauge2));
	optionTemp.series[0].data = [{
			value: dataset.ch_gauge2[0],
			name: 'Flow Number',
			itemStyle:{}
		}, {
			value: dataset.ch_gauge2[0],
			name: 'x' + dataset.ch_gauge2[1],
			pointer: { show : false },
			title: {
				fontSize: 12,
				offsetCenter : ['28%', '25%']
			}
		}];
	chartGauge2.clear();
	chartGauge2.setOption(optionTemp);
};

var draw = function(data)
{
	dataset = data;
	console.log(dataset);
	setOptionData();
};

window.onresize = function ()
{
	sidebarChart.resize();
	if (chartSunburst)
		chartSunburst.resize();
	if (chartHeatmap)
		chartHeatmap.resize();
	if (chartGauge1)
		chartGauge1.resize();
	if (chartGauge2)
		chartGauge2.resize();
};

</script>
{% endblock %}
